#application
server:
  port: 50900
  tomcat.threads.max: 20
  forward-headers-strategy: FRAMEWORK

#vthreads
spring.threads.virtual.enabled: "true"

#monitoring
management:
    endpoint:
      health:
        probes:
          enabled: true
        show-details: never
    endpoints:
      web:
        exposure:
          include: "health,prometheus,heapdump"

#tracing
spring.application.name: callee-service
management.tracing.sampling.probability: "1.0"
#management.otlp.tracing.endpoint: "http://localhost:4318/v1/traces"
management.opentelemetry.tracing.export.otlp.endpoint: "http://localhost:4318/v1/traces"

#logging
logging.pattern.level: "%5p tenantId=%X{tenantId:-}" #"%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}] tenantId=%X{tenantId:-}"

logging.level.root: "WARN"
logging.level.org.springframework: "INFO"

logging.level.org.goafabric: "INFO"
logging.level.org.flywaydb.core: "INFO"
logging.level.org.hibernate.SQL: "INFO"
springdoc.enable-kotlin: false
logging.level.io.micrometer.registry.otlp: "OFF"